body {
    
}

.image {
    float: left;
    
    background-color: green;
    padding: 10px 10px 10px 10px;
    border: 1px dashed black;
    margin: 10px 10px 10px 10px;
    outline: 10px solid red;
    width: 350px;
    height: 350px;
}

#left {
    
}

    #left:hover {
       /* -webkit-transform: translateY(90px); */
       /* -webkit-transform: scale(0.1); */
       /* -webkit-transform: rotate(-30deg); */
        -webkit-transform: skewX(45deg) skewY(15deg);
}

#right {
    
}

    #right:hover {
        -webkit-transform: skew(45deg, 15deg);
}