#scroll_box {
    padding: 0 0 0 0;
    border: none;
    margin: 0 0 0 0;
    outline: 2px dashed red;
    
    width: 200px;
    height: 200px;
    overflow: scroll;
}

#image {
/*    padding: 0 0 0 0;
    border: none;
    margin: 0 0 0 0;
    outline: 2px dashed red;
    
    width: 200px;
    height: 200px;
    overflow: scroll; */
}

#text {
    padding: 0 0 0 0;
    border: none;
    margin: 0 0 0 0;
    outline: 2px dashed red;
    
    width: 200px;
    height: 200px;
    overflow: scroll;
}